<div class="alain-default__header-logo">
  <a [routerLink]="['/']" class="alain-default__header-logo-link">
    <img class="alain-default__header-logo-expanded" src="./assets/logo-full.svg"  style="max-height:40px;" />
    <img class="alain-default__header-logo-collapsed" src="./assets/logo.svg"   style="max-height:30px;" />
  </a>
</div>
<div nz-col [nzMd]="24" style="max-width: 1278px">
  <button nz-button [nzType]="'primary'" (click)="toggleCollapsed()" style="margin-bottom: 10px;">
    <i nz-icon type="menu-unfold"></i>
  </button>
  <button nz-button [nzType]="'primary'" *ngIf="btnSignShow && !isOutYw" class="mr-sm">
    <i nz-icon type="edit" theme="outline"></i>
    <span> 签收 </span>
  </button>
  <button nz-button [nzType]="'primary'" *ngIf="btnBackShow && !isOutYw" (click)="takeback()" class="mr-sm">
    <i nz-icon type="left-circle" theme="outline"></i>
    <span> 取回 </span>
  </button>
  <button nz-button [nzType]="'primary'" *ngIf="btnCancelSignShow && !isOutYw" class="mr-sm">
    <i nz-icon type="undo" theme="outline"></i>
    <span> 取消签收 </span>
  </button>
  <button nz-button [nzType]="'primary'" *ngIf="btnCompleteShow && !isOutYw" (click)="alertTransfer()" class="mr-sm">
    <i nz-icon type="up" theme="outline"></i>
    <span> 移交 </span>
  </button>
  <button nz-button [nzType]="'primary'" *ngIf="btnParallelTransferShow && !isOutYw" (click)="alertCurrentTasks()"
          class="mr-sm">
    <i nz-icon type="right" theme="outline"></i>
    <span> 平行移交 </span>
  </button>

  <button nz-button [nzType]="'primary'" *ngIf="actInstsProcessInfo" (click)="showActInstsProcessInfo()"
          class="mr-sm">
    <i nz-icon type="solution" theme="outline"></i>
    <span> 办理状态 </span>
  </button>
  <button nz-button [nzType]="'primary'" *ngIf="btnRejectShow && !isOutYw" class="mr-sm" (click)="sendBackTab()">
    <i nz-icon type="down" theme="outline"></i>
    <span> 退回 </span>
  </button>
  <button nz-button [nzType]="'primary'" class="mr-sm" (click)="openMessage()">
    <i nz-icon type="message" theme="outline"></i>
    <span> 流转意见 </span>
  </button>
  <button nz-button [nzType]="'primary'" *ngIf="btnDeleteShow && !isOutYw" class="mr-sm" (click)="showConfirm()">
    <i nz-icon type="delete" theme="outline"></i>
    <span> 撤销办件 </span>
  </button>
  <button nz-button [nzType]="'primary'" *ngIf="btnSuspendShow && !isOutYw" (click)="suspendFile()" class="mr-sm">
    <i nz-icon type="vertical-left" theme="outline"></i>
    <span> 挂起 </span>
  </button>
  <button nz-button [nzType]="'primary'" *ngIf="btnActivateShow && !isOutYw" (click)="suspendFile(false)" class="mr-sm">
    <i nz-icon type="vertical-right" theme="outline"></i>
    <span> 解挂 </span>
  </button>
  <button nz-button [nzType]="'primary'" class="mr-sm" (click)="handleCancelTop($event)">
    <i nz-icon type="close-circle" theme="outline"></i>
    <span> 关闭 </span>
  </button>


  <!--<nz-select [ngStyle]="{'float': 'right','width':'300px'}"-->
  <!--[(ngModel)]="selectedOption"-->
  <!--[nzShowSearch]="false"-->
  <!--[nzPlaceHolder]="'办件信息'"-->
  <!--[title]="selectedOption.label">-->
  <!--<nz-option-->
  <!--*ngFor="let option of bizInfoOptions"-->
  <!--[nzLabel]="option.label"-->
  <!--[nzValue]="option">-->
  <!--<ng-template #nzOptionTemplate><span [title]="option.label">{{option.label}}</span></ng-template>-->
  <!--</nz-option>-->
  <!--</nz-select>-->

  <button *ngIf="!isOutYw" nz-button [nzType]="'primary'" style="vertical-align: middle" class="mr-sm"
          [ngStyle]="{'float': 'right'}">
    <i class="icon-location-pin"></i>
    <span>&nbsp;&nbsp;档案归属地：{{qymc}}</span>
  </button>

</div>


